{{yield}}
<span
  uk-tooltip="title: {{tooltipContent}}"
  tabindex="0"
  role="tooltip"
  aria-describedby={{ariaDescribedBy}}
>
  {{fa-icon "question-circle"}}
</span>
<span class="otb-aria-describedby" id={{ariaDescribedBy}}>
  {{tooltipContent}}
</span>