{{!-- {{#power-select
  selected=destination
  options=model
  onchange=(action 'setStop')
  as |stop|
}}
  {{stop.title}}
{{/power-select}} --}}
<Input @type="file" @id={{labelId}} @value={{media}} /> <a {{action 'uploadImage'}}>upload</a>

<DropZone @url={{endpoint}} @complete={{action "uploadSuccess"}} @addRemoveLinks={{true}} @addedfile={{action "uploadImage"}} @removedfile={{action "deleteImage"}} />
