<OtbCrud::FormSection @label="Video">
  <label class="uk-form-label" for={{concat @model.slug '-video'}}>
    <OtbTooltip @tooltipContent={{t "tooltip.addVideo"}} @ariaDescribedBy={{concat @model.slug "-video-aria-describedby"}}>
      <FaIcon @icon="video" /> Video
    </OtbTooltip>
  </label>
  <section class="uk-margin uk-width-1-1">
    <section class="uk-form-controls" uk-grid>
      <section class="uk-width-3-4">
        <Input @id={{concat @model.slug '-video'}} class="uk-input uk-margin-bottom" placeholder="Add video code..." @value={{this.link}} {{on "change" this.getVideo}} />
      </section>
      <section class="uk-width-1-4">
        <UkButton {{on "click" this.getVideo}}@color="secondary"><FaIcon @icon="search" /> Find Video</UkButton>
      </section>
    </section>
  </section>
</OtbCrud::FormSection>
{{#if this.embed}}
  <div class="uk-width-1-2 uk-align-center">
    <section class="uk-section uk-text-center embed-container">
      <iframe
        src={{this.embed}}
        frameborder="0"
        allowfullscreen
        uk-responsive
        uk-video
        autoplay="false"
      >
      </iframe>
      {{!-- this here just for testing --}}
      <span class="uk-invisible" id={{concat @model.slug "-video-code"}}>{{this.videoCode}}</span>
    </section>
  </div>

  <UkButton @size="large"  @color="primary" {{on "click" this.addVideo}}>
    {{t "buttons.confirmVideo"}}
  </UkButton>
  <hr />
  {{/if}}
  {{#if this.error}}
    <div class="uk-alert-danger" uk-alert>
      <p>Could not find video. Please try again.</p>
    </div>
  {{/if}}
{{!-- {{else}}
  {{videoProviders.videoPreview.error}}
{{/if}} --}}