{{outlet}}
<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Sites</th>
            <th>Provider</th>
        </tr>
    </thead>
    <tbody>
      {{#each (sort-by "displayName" "email" this.model) as |user|}}
        <tr>
            <td>
              <LinkTo @route="admin.users.user" @model={{user}}>
                {{#if user.super}}{{fa-icon 'chess-queen'}}{{/if}} {{or user.displayName user.email}}
              </LinkTo>
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.tourSetNames}}
            </td>
            <td>
                {{user.provider}}
            </td>
        </tr>
      {{/each}}
    </tbody>
</table>
<div class='uk-section'></div>