{{outlet}}
<div class='uk-child-width-1-1' uk-grid>
    <div>
      <h1 class='uk-primary-heading'>{{model.user.displayName}}</h1>
      <h2 class='uk-primary-heading'>{{model.user.email}}</h2>
    </div>
    {{#if currentUser.user.super}}
      <div>
        <Input id="super" name="super" @type="checkbox" @checked={{model.user.super}} @change={{pipe (toggle "super" model.user) (perform this.crudActions.saveRecord model.user)}} />
        <label for='super'>Super User</label>
      </div>
      <div>
        <div class='uk-margin uk-grid-small uk-child-width-1-1 uk-grid'>
          <legend class="uk-legend">Tour Sites</legend>
          {{#each model.tourSets as |tourSet|}}
            {{#if tourSet.subdir}}
              <div>
                <Input id={{tourSet.subdir}} @type="checkbox" name="tour_set" {{on "change" (fn this.addRemoveSet model.user tourSet)}} @checked={{includes model.user.tourSets tourSet}} />
                <label for={{tourSet.subdir}}>{{tourSet.name}}</label>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/if}}
    <div>
      <ul>
        {{#each model.user.tours as |tour|}}
          <li>{{tour.title}}</li>
        {{/each}}
      </ul>
    </div>
</div>