{{outlet}}
<div class='uk-child-width-1-1' uk-grid>
    <div>
      <h1 class='uk-primary-heading'>{{model.displayName}}</h1>
      <h2 class='uk-primary-heading'>{{model.email}}</h2>
    </div>
    {{#if currentUser.user.super}}
      <div>
        <Input @id="super" @name="super" @type="checkbox" @checked={{model.super}} @change={{pipe (toggle "super" model) (perform this.crudActions.saveRecord model)}} />
        <label for='super'>Super User</label>
      </div>
      <div>
        <div class='uk-margin uk-grid-small uk-child-width-1-1 uk-grid'>
          <legend class="uk-legend">Tour Sites</legend>
          {{#each model.tourSets as |tourSet|}}
            {{#if tourSet.subdir}}
              <div>
                <Input @id={{tourSet.subdir}} @type="checkbox" @name="tour_set" @change={{action "addRemoveSet" model tourSet}} @checked={{includes model.tourSets tourSet}} />
                <label for={{tourSet.subdir}}>{{tourSet.name}}</label>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/if}}
    <div>
      <ul>
        {{#each model.tours as |tour|}}
          <li>{{tour.title}}</li>
        {{/each}}
      </ul>
    </div>
</div>