{{yield}}
<span
  class="uk-margin-small-left otb-tooltip"
  uk-tooltip="title: {{@tooltipContent}}"
  tabindex="0"
  role="tooltip"
  aria-describedby={{@ariaDescribedBy}}
>
  <FaIcon @icon="question-circle" />
</span>
<span class="otb-aria-describedby" id={{@ariaDescribedBy}}>
  {{tooltipContent}}
</span>