<div class="uk-grid-match uk-grid-medium uk-child-width-expand@s" {{will-destroy this.clearLocator}} uk-grid>
  <div class="uk-width-1-3@m uk-width-1-1@s uk-margin-bottom">

    <OtbCrud::FormSection @label="Stop Address">
      <label class="uk-form-label" for={{concat @model.title "-stop-address"}}>
        <OtbTooltip @tooltipContent={{t "tooltip.location"}} @ariaDescribedBy={{concat @model.slug "address-aria-describedby"}}>
            {{t "stop"}} {{t "address"}}
        </OtbTooltip>
      </label>
      <section class="uk-width-1-1">
        <Input class="uk-input uk-margin-bottom" @id={{concat @model.slug "-stop-address"}} @value={{@model.address}} />
      </section>
      <UkButton @size="small" @color="secondary" {{on "click" (perform this.locateAddress)}}>
        <FaIcon @icon="location-arrow" /> {{t "locate"}} {{t "address"}}
      </UkButton>
    </OtbCrud::FormSection>

    <OtbCrud::FormSection @label="Latitude">
      <label class="uk-form-label" for={{concat @model.title "-stop-lat"}}>
        {{t "latitude"}}
      </label>
      <section class="uk-width-1-1">
        <Input class="uk-input" @type="number" @step="any" @id={{concat @model.slug "-stop-lat"}} @value={{@model.lat}} />
      </section>
    </OtbCrud::FormSection>

    <OtbCrud::FormSection @label="Longitude">
      <label class="uk-form-label" for={{concat @model.title "-stop-lng"}}>
        {{t "longitude"}}
      </label>
      <section class="uk-width-1-1">
        <Input class="uk-input" @type="number" @step="any" @id={{concat @model.slug "-stop-lng"}} @value={{@model.lng}} />
      </section>
    </OtbCrud::FormSection>

    <button type="button" class="uk-button uk-button-small" uk-toggle target=".parking-location">
      {{t "add"}} {{t "parking"}}
    </button>
    <div class="parking-location" hidden>
      <OtbCrud::FormSection @label="Parking Address">
        <label class="uk-form-label" for={{concat @model.title "-parking-address"}}>
          <OtbTooltip @tooltipContent={{t "tooltip.parking"}} @ariaDescribedBy={{concat @model.slug "-parking-address-aria-describedby"}}>
              {{t "parking"}} {{t "address"}}
          </OtbTooltip>
        </label>
        <section class="uk-width-1-1">
          <Input class="uk-input uk-margin-bottom" @id={{concat @model.slug "-parking-address"}} @value={{this.parkingAddress}} />
          <UkButton @size="small" @color="secondary" {{on "click" (perform this.locateAddress)}}>
            <FaIcon @icon="location-arrow" /> {{t "locate"}} {{t "address"}}
          </UkButton>
        </section>
      </OtbCrud::FormSection>

      <OtbCrud::FormSection @label="Latitude">
        <label class="uk-form-label" for={{concat @model.title "-parking-lat"}}>
          {{t "latitude"}}
        </label>
        <section class="uk-width-1-1">
          <Input @type="number" class="uk-input" @step="any" @id={{concat @model.slug "-parking-lat"}} @value={{@model.parkingLat}} />
        </section>
      </OtbCrud::FormSection>

      <OtbCrud::FormSection @label="Longitude">
        <label class="uk-form-label" for={{concat @model.title "-parking-lng"}}>
          {{t "longitude"}}
        </label>
        <section class="uk-width-1-1">
          <Input @type="number" class="uk-input" @step="any" @id={{concat @model.slug "-parking-lng"}} @value={{@model.parkingLng}} />
        </section>
      </OtbCrud::FormSection>
    </div>
  </div>

  <div class="uk-width-2-3@m uk-width-1-1@s">
  {{#if (and @model.lat @model.lng)}}
    {{#if (and @model.parkingLat @model.parkingLng)}}
      <GMap @options={{hash zoom="16" mapTypeId=@model.mapType}} @lat={{@model.lat}} @lng={{@model.lng}} as |feature|>
        <feature.marker @draggable={{true}} @onDrag={{this.reLocate}} @lat={{@model.lat}} @lng={{@model.lng}} />
        <feature.marker @icon={{this.parkingIcon}} @draggable={{true}} @onDrag={{this.reLocateParking}} @lat={{@model.parkingLat}} @lng={{@model.parkingLng}} />
      </GMap>
    {{else}}
      <GMap @options={{hash zoom="16" mapTypeId=this.model.map_type}} @lat={{@model.lat}} @lng={{@model.lng}} as |feature|>
        <feature.marker @draggable={{true}} @onDrag={{this.reLocate}} @lat={{@model.lat}} @lng={{@model.lng}} />
      </GMap>
    {{/if}}
  {{/if}}
  </div>
  <div class="uk-width-1-1">
    <OtbCrud::FormSection @label="Direction Notes">
      <label class="uk-form-label" for={{concat @model.title "-direction-notes"}}>
        <OtbTooltip @tooltipContent={{t "tooltip.directionNotes"}} @ariaDescribedBy={{concat @model.slug "-direction-notes-aria-describedby"}}>
            {{t "direction"}} {{t "notes"}}
        </OtbTooltip>
      </label>
      {{!-- <EmberJodit @value={{if @model.directionNotes @model.directionNotes ""}} @onChange={{fn (mut @model.directionNotes)}} /> --}}
    </OtbCrud::FormSection>
  </div>
</div>
