{{#if currentUser.user.super}}
  <h2 class='uk-heading-bullet'>Tour Sites</h2>
  {{!-- TODO: READD --}}
  <UkModal @visible={{this.showNewSiteModal}} @on-hide={{toggle 'showNewSiteModal' this}} as |modal|>
      <modal.header>
        <h2>Create a New Site</h2>
      </modal.header>
      <modal.body>
        {{#if this.error}}
          <div class="uk-alert-danger" uk-alert>
            <p>You cannot create a new site without providing a name.</p>
          </div>
        {{/if}}
        <OtbCrud::FormSection @label="new-site-title">
          <label class="uk-form-label" for="new-site-name">Site name</label>
          <section class="uk-width-1-1">
            <Input class="uk-input" @id="new-site-name" @value={{this.newSiteName}} />
          </section>
        </OtbCrud::FormSection>
      </modal.body>
      <modal.footer>
        <UkButton @color="primary" {{on "click" (perform this.createSite)}}>Create New Site</UkButton>
        <UkButton @color="link" @class="uk-modal-close">Cancel</UkButton>
      </modal.footer>
  </UkModal>
  <UkButton @color="primary" @label="New Site" {{on "click" (toggle 'showNewSiteModal' this)}} />
{{/if}}
<table class="uk-table uk-table-striped uk-table uk-table-middle">
  <thead>
    <tr>
      <th class='uk-table-expand'>
        Site Name
        <OtbTooltip
          @tooltipContent="Each Tour Site can contain multiple tours. Click the name of your Tour Site below to see your tours."
          @ariaDescribedBy="site-name-aria-describedby" />
      </th>
      <th class='uk-width-small uk-text-center'>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.tourSets as |tourSet|}}
      <tr>
        <td class='uk-table-link'>
          <a href={{concat tourSet.subdir "/"}}>
            {{tourSet.name}}
          </a>
        </td>

        <td class='uk-table-link'>
          <UkButton @color="link" @class="uk-align-center" aria-label={{concat "Delete " tourSet.name}} @on-click={{perform this.crudActions.deleteRecord tourSet}}>
            <FaIcon @icon='trash' />
          </UkButton>
        </td>
      </tr>
    {{else}}
      <p class="uk-margin">
        You have not been added to any tour sites. Please contact an <a href="mailto:ecds@emroy.edu">administrator</a>.*
      </p>
      <p>
        <strong>
          *If you have had access to tour sites in the past, and should still have access, please check to make sure that you used the same GMail, Facebook, Twitter or GitHub account that you have previously used. If you use another account, your tour sites will not show!
        </strong>
      </p>
    {{/each}}
  </tbody>
</table>
{{#if this.currentUser.user.allTours}}
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th>Tours</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.currentUser.user.allTours as |tour|}}
        <tr>
          <td>
            <a href={{concat tour.tenant "/edit/" tour.id}}>{{tour.title}}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
<div class='uk-section'></div>