{{#if currentUser.user.super}}
  <h2 class='uk-heading-bullet'>Tour Sites</h2>
  {{!-- TODO: READD --}}
  {{!-- <UkModal @modalName="newSite" @on-show={{perform this.newSite}} as |modal|>
    <modal.open @class="uk-button uk-button-primary">
      New Site
    </modal.open>
    <modal.dialog>
      <modal.body>
        <OtbCrud::FormSection @label="Site Title">
          <label class="uk-form-label" for={{concat @model.slug '-description'}}>{{modelTitle}} Description</label>
          <Input @autofocus="autofocus" class="uk-input" @id={{concat @model.slug '-description'}}
            @value={{this.newSite.name}} />
        </OtbCrud::FormSection>
      </modal.body>
      <modal.footer>
        <OtbCrud::NewButton @class="uk-modal-close" @onClick={{perform this.createSite}}>New Site</OtbCrud::NewButton>
        <UkButton @color="link" @class="uk-modal-close">Cancel</UkButton>
      </modal.footer>
    </modal.dialog>
  </UkModal> --}}
{{/if}}
<table class="uk-table uk-table-striped uk-table uk-table-middle">
  <thead>
    <tr>
      <th class='uk-table-expand'>
        Site Name
        <OtbTooltip
          @tooltipContent="Each Tour Site can contain multiple tours. Click the name of your Tour Site below to see your tours."
          @ariaDescribedBy="site-name-aria-describedby" />
      </th>
      <th class='uk-width-small uk-text-center'>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.tourSets as |tourSet|}}
      <tr>
        <td class='uk-table-link'>
          <a href={{concat tourSet.subdir "/"}}>
            {{tourSet.name}}
          </a>
        </td>

        <td class='uk-table-link'>
          <UkButton @color="link" @class="uk-align-center" @on-click={{perform this.crudActions.deleteRecord tourSet}}>
            <FaIcon @icon='trash' />
          </UkButton>
        </td>
      </tr>
    {{else}}
      <div class="uk-margin">
        You have not been added to any tour sites. Please contact an administrator.
      </div>
    {{/each}}
  </tbody>
</table>
<div class='uk-section'></div>