<OtbCrud::FormSection @label="title">
  <label class="uk-form-label" for={{concat @model.slug '-title'}}>{{modelTitle}} Title</label>
  <section class="uk-width-1-1">
    <Input class="uk-input" @id={{concat @model.slug '-title'}} @value={{@model.title}} {{on 'keyup' ( perform this.crudActions.saveRecord @model)}} />
  </section>
</OtbCrud::FormSection>

{{#if (eq @modelTitle "Tour")}}
  <OtbCrud::FormSection @label={{concat modelTitle "Published?"}}>
    <span class="uk-padding-remove-left uk-padding-remove-vertical uk-padding-small">
      <input
        type="checkbox"
        id={{concat @model.slug '-published'}}
        name={{@model.published}}
        checked={{@model.published}}
        class="uk-checkbox"
        {{on 'change' (toggle "published" @model)}}
        {{on 'change' ( perform this.crudActions.saveRecord @model)}}
      >
    </span>
    <label class="uk-form-label" for={{concat @model.slug '-published'}}>
      <OtbTooltip @tooltipContent={{t "tooltip.published"}} @ariaDescribedBy={{concat @model.tour.slug "-published-aria-describedby"}}>
          Published
      </OtbTooltip>
    </label>
  </OtbCrud::FormSection>

{{/if}}

<OtbCrud::FormSection @label='description'>
  <label class="uk-form-label" for={{concat @model.title '-' modelTitle '-description'}}>{{modelTitle}} Description</label>
  <section class="uk-width-1-1">
    <OtbCrud::PellEditor @onChange={{fn (mut @model.description)}} @model={{@model}}></OtbCrud::PellEditor>
  </section>
</OtbCrud::FormSection>

<hr>

<OtbCrud::FormSection @label='meta description'>
  <label class="uk-form-label" for={{concat @model.slug '-' @modelTitle '-meta-description'}}>
    <OtbTooltip @tooltipContent={{t "tooltip.metaDescription"}} @ariaDescribedBy={{concat @model.tour.slug "meta-description-aria-describedby"}}>
      {{modelTitle}} Meta Description
    </OtbTooltip>
  </label>
  <section class="uk-width-1-1">
    <Textarea @id={{concat @model.slug '-' @modelTitle '-meta-description'}} @rows={{6}} class="uk-textarea" @value={{@model.metaDescription}} {{on 'keyup' (perform this.crudActions.saveRecord @model)}} />
  </section>
</OtbCrud::FormSection>