
  {{#if this.model.tour.fetchingRecord}}
    <p>{{t "loading.tour"}}</p>
  {{else}}
    <div class="uk-child-width-1-1" uk-grid>
      {{#if this.currentUser.user.currentTenantAdmin}}
        <div>
          <UkButton @color="secondary" @size="large" {{on "click" (action (mut this.visible) true)}}>{{t "manageAuthors"}}</UkButton>
        </div>
      {{/if}}
      <div>
        <form class="uk-form-stacked otb-crud uk-padding uk-padding-bottom">
          <section>
              <legend class="uk-legend">Tour</legend>
            <OtbCrud::CommonForm @model={{this.model.tour}} @modelTitle="Tour" />
            <LanguageSelect @model={{this.model.tour}} @save={{this.crudActions.saveRecord}} />
          </section>

          <legend class="uk-legend">
            <OtbTooltip @tooltipContent={{t "tooltip.externalLink"}} @ariaDescribedBy={{concat this.model.tour.slug "-" this.model.tour.id "meta-external-link-aria-describedby"}}>
              External Link
            </OtbTooltip>
          </legend>
          <OtbCrud::FormSection @label='externalLink'>
            <label class="uk-form-label" for={{concat this.model.tour.slug '--meta-link-text-' this.model.tour.id}}>
              <OtbTooltip @tooltipContent={{t "tooltip.linkText"}} @ariaDescribedBy={{concat this.model.tour.slug "-" this.model.tour.id "meta-link-text-aria-describedby"}}>
                Link Text
              </OtbTooltip>
            </label>
            <section class="uk-width-1-1">
              <Input class="uk-input" id={{concat this.model.tour.slug '--meta-link-text-' this.model.tour.id}} @type="text" @value={{this.model.tour.linkText}} {{on 'keyup' (perform this.crudActions.saveRecord this.model.tour false)}} />
            </section>
          </OtbCrud::FormSection>
          <OtbCrud::FormSection @label='externalLink'>
            <label class="uk-form-label" for={{concat this.model.tour.slug '--meta-link-address-' this.model.tour.id}}>
              <OtbTooltip @tooltipContent={{t "tooltip.linkAddress"}} @ariaDescribedBy={{concat this.model.tour.slug "-" this.model.tour.id "meta-link-address-aria-describedby"}}>
                Link Address
              </OtbTooltip>
            </label>
            <section class="uk-width-1-1">
              <Input class="uk-input" id={{concat this.model.tour.slug '--meta-link-address-' this.model.tour.id}} this.type="url" @value={{this.model.tour.linkAddress}} {{on 'keyup' (perform this.crudActions.saveRecord this.model.tour false)}} />
            </section>
          </OtbCrud::FormSection>

          <section>
            <legend class="uk-legend">Themes</legend>
            <OtbCrud::ThemePicker @model={{this.model.tour}} @save={{this.crudActions.saveRecord}} />
          </section>

          <section>
            <legend class="uk-legend">{{@modelTitle}}Map Options</legend>
            <OtbCrud::FormSection @label="tour-is-geo">
              <span class="uk-padding-remove-left uk-padding-remove-vertical uk-padding-small">
                <input
                  type="checkbox"
                  id={{concat this.model.tour.slug '-is-geo'}}
                  name="is-geo"
                  checked={{this.model.tour.isGeo}}
                  class="uk-checkbox"
                  {{on 'change' (toggle "isGeo" this.model.tour)}}
                  {{on 'change' ( perform this.crudActions.saveRecord this.model.tour)}}
                >
              </span>
              <label class="uk-form-label" for={{concat this.model.tour.slug '-is-geo'}}>
                <OtbTooltip @tooltipContent={{t "tooltip.enableGeo"}} @ariaDescribedBy={{concat this.model.tour.slug "-tour-is-geo-aria-describedby"}}>
                    Enable Map
                </OtbTooltip>
              </label>
            </OtbCrud::FormSection>

            <OtbCrud::FormSection @label="tour-use-directions">
              <span class="uk-padding-remove-left uk-padding-remove-vertical uk-padding-small">
                <input
                  type="checkbox"
                  id={{concat this.model.tour.slug '-use-directions'}}
                  name="use-directions"
                  checked={{this.model.tour.useDirections}}
                  class="uk-checkbox"
                  {{on 'change' (toggle "useDirections" this.model.tour)}}
                  {{on 'change' ( perform this.crudActions.saveRecord this.model.tour false)}}
                >
              </span>
              <label class="uk-form-label" for={{concat this.model.tour.slug '-use-directions'}}>
                <OtbTooltip @tooltipContent={{t "tooltip.enableDirections"}} @ariaDescribedBy={{concat this.model.tour.slug "-tour-use-directions-aria-describedby"}}>
                  Provide Google Directions
                </OtbTooltip>
              </label>
            </OtbCrud::FormSection>

            <OtbCrud::FormSection @label="restrict-bounds">
              <span class="uk-padding-remove-left uk-padding-remove-vertical uk-padding-small">
                <input
                  type="checkbox"
                  id={{concat this.model.tour.slug '-restrict-bounds'}}
                  name="restrict-bounds"
                  checked={{this.model.tour.restrictBounds}}
                  class="uk-checkbox"
                  {{on 'change' (toggle "restrictBounds" this.model.tour)}}
                  {{on 'change' ( perform this.crudActions.saveRecord this.model.tour false)}}
                >
              </span>
              <label class="uk-form-label" for={{concat this.model.tour.slug '-restrict-bounds'}}>
                <OtbTooltip @tooltipContent={{t "tooltip.restrictBounds"}} @ariaDescribedBy={{concat this.model.tour.slug "-tour-restrict-bounds-aria-describedby"}}>
                  Restrict Map Bounds
                </OtbTooltip>
              </label>
            </OtbCrud::FormSection>

            {{#if this.model.tour.isGeo}}
              <OtbCrud::MapOverlay @model={{this.model.tour}} @save={{this.crudActions.saveRecord}} @upload={{this.crudActions.uploadFile}} @delete={{this.crudActions.deleteHasOne}} @addToModel={{this.crudActions.addHasOne}}>
                <OtbCrud::MapType @model={{this.model.tour}} @save={{this.crudActions.saveRecord}} />
              </OtbCrud::MapOverlay>
            {{/if}}
          </section>

          {{#if (and this.model.tour.useDirections this.model.tour.isGeo)}}
            <section>
              <legend class="uk-legend"><FaIcon @icon="route" /> Travel Modes</legend>
                <OtbCrud::TravelModes @model={{this.model}} />
            </section>
          {{/if}}

          <section>
            <legend class="uk-legend"><FaIcon @icon="images" /> Media</legend>

            <OtbCrud::Video @model={{this.model.tour}} @save={{this.addVideo}} />
            <OtbCrud::MediumUpload @uploadTask={{this.crudActions.uploadFile}} @model={{this.model.tour}} @modelName="tour" />
            <OtbCrud::Media @model={{this.model.tour}} @reorder={{this.crudActions.reorder}} @save={{this.crudActions.saveRecord}} @delete={{this.crudActions.deleteHasMany}} @deleteOne={{this.crudActions.deleteRecord}} />
          </section>

          <section>
            <legend class="uk-legend">Stops</legend>
            <div class="uk-form-controls">
              <section class="uk-margin uk-child-width-auto" uk-grid>
                <section>
                  <OtbCrud::NewButton @class="uk-margin" @onClick={{perform this.newStop this.model.tour}}>
                    {{t "buttons.newStop"}}
                  </OtbCrud::NewButton>
                  <OtbTooltip @tooltipContent={{t "tooltip.newStop"}} @ariaDescribedBy="new-stop-aria-describedby">
                  </OtbTooltip>
                </section>
                <section>
                  {{!-- {{#if (gt this.model.stops.length this.model.tour.stops.length)}} --}}
                    <OtbCrud::ExtraStops @modalId="extra-stops-modal" @itemType="stop" @current={{this.model.tour.stops}} @copy={{this.copyChild}} @add={{this.addExistingItem}} @delete={{this.deleteStop}}>
                      Add Other Stops
                    </OtbCrud::ExtraStops>
                    <OtbTooltip @tooltipContent={{t "tooltip.otherStop"}} @ariaDescribedBy="add-other-aria-describedby">
                    </OtbTooltip>
                  {{!-- {{/if}} --}}
                </section>
              </section>

              <UkAccordion @elementId='stopList' @targets="> div > *" @onBeforeshow={{this.beforeshow}} @onHide={{this.beforeshow}} @onShown={{perform this.activateStop}} {{did-insert this.initAccordion}}>
                <UkSortable @handle=".uk-accordion-title" @on-stop={{perform this.crudActions.reorder}}>
                  {{#each this.model.tour.sortedTourStops as |stop index|}}
                    {{#if stop.stop.slug}}
                    <div
                      class="uk-background-muted uk-margin-small uk-padding-small"
                      id={{concat stop.stop.slug "-" stop.stop.id}}
                      data-id={{stop.id}}
                      data-model="tour-stop"
                      data-index={{index}}
                      data-stop-id={{stop.stop.id}}
                    >
                      <a class="uk-accordion-title" href="#">{{stop.position}}: {{if stop.stop.title stop.stop.title "Loading.."}}</a>
                        <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-card-small">
                          {{#if stop.stop.active}}
                            {{#if stop.stop.isShared}}
                              <section class="uk-margin">
                                <section class="uk-alert-primary uk-text-center" uk-alert>
                                  <p>
                                    {{t "tooltip.makeUniqueStop"}}
                                  </p>
                                  <UkButton @color="primary" {{on "click" (perform this.makeChildUnique stop 'stop')}}>Make Unique</UkButton>
                                </section>
                              </section>
                            {{/if}}
                            <OtbCrud::CommonForm @model={{stop.stop}} @modelTitle="Stop" />
                            {{#if this.model.tour.isGeo}}
                              <OtbCrud::Map @model={{stop.stop}} @position={{stop.position}} @icons={{this.model.mapIcons}} @tour={{this.model.tour}} @save={{this.crudActions.saveRecord}} @upload={{this.crudActions.uploadFile}} @addToModel={{this.crudActions.addHasOne}} @removeFromModel={{this.crudActions.deleteHasOne}} />
                            {{/if}}
                            <h3 class="uk-heading">{{t "manageMedia"}}</h3>
                            <OtbCrud::Video @model={{stop.stop}} @save={{this.addVideo}} />
                            <OtbCrud::MediumUpload @uploadTask={{this.crudActions.uploadFile}} @model={{stop.stop}} @modelName="stop" />
                            <section class="uk-margin">
                              <OtbCrud::Media @model={{stop.stop}}  @reorder={{this.crudActions.reorder}} @save={{this.crudActions.saveRecord}} @delete={{this.crudActions.deleteHasMany}} @deleteOne={{this.crudActions.deleteRecord}} />
                              <UkButton @color="primary" {{on "click" (perform this.crudActions.saveRecord stop.stop)}}>
                                {{t "buttons.save"}}
                              </UkButton>
                              <UkButton @on-click={{this.cancel}}>{{t "buttons.cancel"}}</UkButton>
                              <UkButton @color="link" {{on "click" (perform this.removeChild stop.stop stop 'stop')}}>
                                {{t "deleteFromTour"}}
                              </UkButton>
                            </section>
                          {{/if}}
                          {{#if this.willShow}}
                            <div class="uk-margin-small uk-padding-small"><FaIcon @icon="spinner" @spin={{true}} /> Loading</div>
                          {{/if}}
                        </div>
                    </div>
                  {{else}}
                    <div class="uk-background-muted uk-margin-small uk-padding-small"><FaIcon @icon="spinner" @spin={{true}} /> Loading</div>
                  {{/if}}
                  {{/each}}
                </UkSortable>
              </UkAccordion>
            </div>
          </section>

          <section>
            <legend class="uk-legend">Pages</legend>
            <div class="uk-form-controls">
              <section class="uk-margin uk-child-width-auto" uk-grid>
                <section>
                  <OtbTooltip @tooltipContent={{t "tooltip.newPage"}} @ariaDescribedBy="new-page-aria-describedby">
                    <OtbCrud::NewButton @class="uk-margin" @onClick={{perform this.newPage this.model.tour}}>
                      {{t "newPage"}}
                    </OtbCrud::NewButton>
                  </OtbTooltip>
                </section>
                <section>
                  {{!-- {{#if (gt this.model.flatPages.length this.model.tour.flatPages.length)}} --}}
                    <OtbCrud::ExtraStops @modalId="extra-pages-modal" @itemType="flatPage" @current={{this.model.tour.flatPages}} @copy={{this.copyChild}} @add={{this.addExistingItem}} @delete={{this.deleteItem}}>
                      Add Other Pages
                    </OtbCrud::ExtraStops>
                    <OtbTooltip @tooltipContent={{t "tooltip.otherPage"}} @ariaDescribedBy="add-other-page-aria-describedby">
                    </OtbTooltip>
                  {{!-- {{/if}} --}}
                </section>
              </section>
              <UkAccordion @elementId="flatPageList" @targets="> div > *" {{did-insert this.initAccordion}}>
                <UkSortable @handle=".uk-accordion-title" @on-stop={{perform this.crudActions.reorder}}>
                  {{#each this.model.tour.sortedFlatPages as |page index|}}
                  {{#if page.flatPage.slug}}
                    <div
                      class="uk-background-muted uk-margin-small uk-padding-small"
                      id={{concat page.flatPage.slug "-" page.flatPage.id}}
                      data-id={{page.id}}
                      data-model="tour-flat-page"
                      data-index={{index}}
                    >
                      <a class="uk-accordion-title" href="#">{{page.position}}: {{if page.flatPage.title page.flatPage.title "Loading.."}}</a>
                      <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-card-small">
                        {{#if page.flatPage.isShared}}
                          <section class="uk-margin">
                            <section class="uk-alert-primary uk-text-center" uk-alert>
                              <p>
                                {{t "tooltip.makeUniqueFlatPage"}}
                              </p>
                              <UkButton @color="primary" {{on "click" (perform this.makeChildUnique page 'flatPage')}}>Make Unique</UkButton>
                            </section>
                          </section>
                        {{/if}}

                        <OtbCrud::FormSection @label="Page Title">
                          <label class="uk-form-label" for={{concat page.flatPage.slug '-title' page.id}}>{{this.modelTitle}} Title</label>
                          <section class="uk-width-1-1">
                            <Input class="uk-input" id={{concat page.flatPage.slug '-title' page.id}} @value={{page.flatPage.title}} {{on "keyup" (perform this.crudActions.saveRecord page.flatPage false)}} />
                          </section>
                        </OtbCrud::FormSection>

                        <OtbCrud::FormSection @label="Page Content">
                          <section class="uk-width-1-1">
                            <OtbCrud::PellEditor @onChange={{fn (mut page.flatPage.body)}} @content={{page.flatPage.body}} @label="body" @model={{page.flatPage}}></OtbCrud::PellEditor>
                          </section>
                        </OtbCrud::FormSection>

                        <UkButton @color="primary" {{on "click" (perform this.crudActions.saveRecord page.flatPage)}}>
                          {{t "buttons.save"}}
                        </UkButton>
                        <UkButton @on-click={{this.cancel}}>
                          {{t "buttons.cancel"}}
                        </UkButton>
                        <UkButton @color="link" {{on "click" (perform this.removeChild page.flatPage page 'flatPage')}}>
                          {{t "deleteFromTour"}}
                        </UkButton>
                      </div>
                    </div>
                  {{else}}
                    <div class="uk-background-muted uk-margin-small uk-padding-small"><FaIcon @icon="spinner" @spin={{true}} /> Loading</div>
                  {{/if}}
                  {{/each}}
                </UkSortable>
              </UkAccordion>
              <div class="uk-section"></div>
            </div>
          </section>

        <div style="height: 200px;"></div>
        </form>
      </div>
      <div class="otb-crud-footer uk-child-width-auto uk-grid-small" uk-grid>
        <div class="uk-width-1-1">&nbsp;</div>
        <div class="uk-flex-left">
          <UkButton @color="primary" {{on "click" (perform this.crudActions.saveRecord this.model.tour)}} @disabled={{this.crudActions.saveRecord.isRunning}}>
            <FaIcon @icon="save" /> {{if this.crudActions.saveRecord.isRunning 'saving' 'save'}}
          </UkButton>
        </div>
          <div class="uk-width-expand">{{if this.crudActions.saveRecord.isRunning 'saving' ''}} {{this.crudActions.lastSaved}}</div>
        <div class="uk-flex-right">
          <PreviewButton @model={{this.model.tour}}></PreviewButton>
        </div>
        <div>&nbsp;</div>
        <div class="uk-width-1-1">&nbsp;</div>
      </div>
    </div>
  {{/if}}

<UkModal @visible={{this.visible}} @stacked={{true}} as |modal|>
  <modal.header class="uk-modal-header">
    <h3 class="uk-modal-title">{{t "manageAuthors"}}</h3>
  </modal.header>
  <div class="uk-modal-body" uk-overflow-auto>
    {{#each (sort-by "displayName" "email" this.model.users) as |user|}}
      {{#unless user.super}}
        <div class="uk-margin">
          <Input
            id={{concat "user" user.id}}
            class="uk-checkbox"
            @type="checkbox"
            name="tour_set"
            {{ on "change"
              (
                pipe
              (
                action (mut this.visible) true
              )
              (
                perform this.crudActions.createHasManyThrough (hash user=user tour=this.model.tour existing=(includes this.model.tour.authorIds user.id)) 'tourAuthor'
              )
              (
                action (mut this.visible) true
              )
            )
            }}
            @checked={{includes this.model.tour.authorIds user.id}}
          />
          <label for={{concat "user" user.id}}>{{if user.displayName user.displayName user.email}}</label>
        </div>
      {{/unless}}
    {{/each}}
  </div>
</UkModal>