{{outlet}}
<DataLoader
  @queryType="fetchRecord"
  @modelName="tour"
  @param={{model.modelId}} as |tourLoader|
>
  {{#if tourLoader.fetchingRecord}}
    <p>{{t "loading.tour"}}</p>
  {{else}}
    <div class="uk-child-width-1-1" uk-grid>
      {{#if currentUser.user.current_tenant_admin}}
        <div>
          <UkModal @modalName="tour-authors" as |modal|>
            <modal.open @tagName="div">
              {{t "manageAuthors"}}
            </modal.open>
            <modal.dialog>
              <modal.body>
                <DataLoader @queryType="all" @modelName="user" as |userLoader|>
                  {{#if (lte userLoader.data.length 1)}}
                    <p>{{t "loading.users"}}</p>
                  {{else}}
                    <h3 class="uk-heading">{{t "manageAuthors"}}</h3>
                    <div class="uk-margin uk-grid-small uk-child-width-1-1 uk-grid">
                      {{#each userLoader.data as |user|}}
                        {{#unless user.super}}
                          <div>
                            <Input @id={{concat "user" user.id}} class="uk-checkbox" @type="checkbox" @name="tour_set" @change={{perform toggleHasMany (hash relationType="author" parentObj=tourLoader.data childObj=user)}} @checked={{includes user.tours model}} />
                            <label for={{tourSet.subdir}}>{{user.display_name}}</label>
                          </div>
                        {{/unless}}
                      {{/each}}
                    </div>
                  {{/if}}
                </DataLoader>
              </modal.body>
            </modal.dialog>
          </UkModal>
        </div>
      {{/if}}
      <div>
        <form
          class="uk-form-stacked otb-crud uk-padding uk-padding-bottom"
          {{action "doNothing" on="submit"}}
        >
          <OtbCrud::CommonForm @model={{tourLoader.data}} @modelTitle="Tour" />
          <section>
              <legend class="uk-legend">Travel Modes</legend>
              <DataLoader @queryType="all" @modelName="mode" as |modeLoader|>
              <div class="uk-width-medium" uk-grid>
                <div class="uk-width-1-2">
                  {{t "mode"}}
                </div>
                <div class="uk-width-1-4">
                  {{t "enable"}}
                </div>
                <div class="uk-width-1-4">
                  {{t "default"}}
                </div>
                {{#each modeLoader.data as |mode|}}
                  <div class="uk-width-1-2">
                    {{titleize mode.title}}
                  </div>
                  <div class="uk-width-1-4">
                    <Input @type="checkbox" class="uk-checkbox" @checked={{contains mode tourLoader.data.modes}} @change={{perform toggleHasMany (hash parentObj=tourLoader.data relationType="mode" childObj=mode)}} />
                  </div>
                  <div class="uk-width-1-4">
                    <input
                      class="uk-radio"
                      type="radio"
                      name="default"
                      value={{mode}}
                      checked={{eq tourLoader.data.mode.id mode.id}}
                      onchange={{perform setDefaultMode tourLoader.data mode}}
                    >
                  </div>
                {{/each}}
              </div>
            </DataLoader>
          </section>

          <section>
            <legend class="uk-legend">{{modelTitle}}Map Type</legend>
            <div class="uk-form-controls uk-child-width-1-2" uk-grid>
              <div>
                <PowerSelect @id={{concat inputId '-map-type'}} @options={{mapTypes}} @searchEnabled={{false}} @selected={{tourLoader.data.map_type}} @onchange={{action (mut tourLoader.data.map_type)}} as |type|>
                  {{type}}
                </PowerSelect>
              </div>
              <div>
                <img
                  border="0"
                  src="//maps.googleapis.com/maps/api/staticmap?center=Atlanta,GA&amp;zoom=13&amp;size=300x300&amp;maptype={{tourLoader.data.map_type}}&key=AIzaSyC0l_y6pP0DK4oig0ile1XLbRx9HUQeryE"
                  alt={{t "atlanta"}}
                >
              </div>
            </div>
          </section>
          <section>
            <legend class="uk-legend">Media</legend>
            <OtbCrud::Video @model={{tourLoader.data}} @save={{addVideo}} />
            <OtbCrud::MediumUpload @uploadTask={{uploadFile}} @model={{tourLoader.data}} @modelName="tour" />
            <OtbCrud::Media @model={{tourLoader.data}} @reorder={{reorder}} @save={{saveRecord}} @delete={{deleteHasMany}} />
          </section>

          <section>
            <legend class="uk-legend">Stops</legend>
            <div class="uk-form-controls">
            <OtbTooltip @tooltipContent={{t "tooltip.newStop"}} @ariaDescribedBy="new-stop-aria-describedby">
              <OtbCrud::NewButton @class="uk-margin" @click={{perform newStop tourLoader.data}}>
                {{t "buttons.newStop"}}
              </OtbCrud::NewButton>
            </OtbTooltip>


              <UkAccordion @id="stopList" @tagName="div" @on-shown={{action "scrollElementToTop"}} @targets="> div > div > *" as |accordion|>
                <UkSortable @handle=".uk-accordion-title" @on-stop={{perform reorder}} @on-remove={{perform reorder}}>
                  {{#each tourLoader.data.sortedTourStops as |stop index|}}
                    <div
                      class="uk-background-muted uk-margin-small uk-padding-small"
                      id={{concat stop.stop.slug "-" stop.stop.id}}
                      data-id={{stop.id}}
                      data-model="tour-stop"
                      data-index={{index}}
                    >
                      <accordion.item @title={{concat stop.position ": " (if stop.stop.title stop.stop.title "Loading...")}} @tagName="div" @class="otb-handle" as |item|>
                        <item.content>
                          <div class="uk-card uk-card-default uk-card-body uk-card-small">
                            <OtbCrud::CommonForm @model={{stop.stop}} @modelTitle="Stop" />
                            <OtbCrud::Map @model={{stop.stop}} />
                            <h3 class="uk-heading">{{t "manageMedia"}}</h3>
                            <OtbCrud::Video @model={{stop.stop}} @save={{addVideo}} />
                            <OtbCrud::MediumUpload @uploadTask={{uploadFile}} @model={{stop.stop}} @modelName="stop" />
                            <OtbCrud::Media @model={{stop.stop}} @reorder={{reorder}} @save={{saveRecord}} @delete={{deleteHasMany}} />
                            <UkButton @color="primary" @on-click={{perform saveRecord stop.stop}}>
                              {{t "buttons.save"}}
                            </UkButton>
                            {{!-- <span
                              class="uk-button uk-button-default"
                              uk-tooltip={{t ""}}
                            >
                              {{fa "question-circle"}}
                            </span> --}}
                            <UkButton @on-click={{cancel}}>{{t "buttons.cancel"}}</UkButton>
                            <UkButton @color="link" @on-click={{perform deleteHasMany (hash parentObj=tourLoader.data relationType="stop" childObj=stop.stop reorder=true)}}>
                              {{t "deleteFromTour"}}
                            </UkButton>
                          </div>
                        </item.content>
                      </accordion.item>
                    </div>
                  {{/each}}
                </UkSortable>
              </UkAccordion>
            </div>
          </section>

          <OtbCrud::FormSection @classNames="crud-page-list" @label="Pages">
            <div class="uk-form-controls">
              <OtbCrud::NewButton @class="uk-margin" @click={{perform newPage tourLoader.data}}>
                {{t "newPage"}}
              </OtbCrud::NewButton>
              <span uk-tooltip="title={{t "newPage"}}; pos: right">
                {{fa-icon "question-circle"}}
              </span>

              <UkAccordion @id="pageList" @tagName="div" @on-shown={{action "scrollElementToTop"}} @targets="> div > div > *" as |accordion|>
                <UkSortable @handle=".uk-accordion-title" @on-stop={{perform reorder}}>
                  {{#each tourLoader.data.sortedFlatPages as |page index|}}
                    <div
                      class="uk-background-muted uk-margin-small uk-padding-small"
                      id={{concat "page-" page.flat_page.id}}
                      data-id={{page.flat_page.id}}
                      data-model="tour-flat-page"
                      data-index={{index}}
                    >
                      <accordion.item @title={{concat page.position ": " page.flat_page.title}} @tagName="div" @class="otb-handle" as |item|>
                        <item.content>
                          <div class="uk-card uk-card-default uk-card-body uk-card-small">
                            <OtbCrud::FormSection @label="Page Title" as |inputId|>
                              <Input class="uk-input" @id={{inputId}} @value={{page.flat_page.title}} />
                            </OtbCrud::FormSection>

                            <OtbCrud::FormSection @label="Page Content" as |inputId|>
                              <EmberJodit @value={{if page.flat_page.content.content page.flat_page.content.content ""}} @onChange={{action (mut page.flat_page.content.content)}} @id={{inputId}} />
                            </OtbCrud::FormSection>

                            <UkButton @color="primary" @on-click={{perform saveRecord page.flat_page}}>
                              {{t "buttons.save"}}
                            </UkButton>
                            <UkButton @on-click={{cancel}}>
                              {{t "buttons.cancel"}}
                            </UkButton>
                            <UkButton @color="link" @on-click={{perform deleteHasMany (hash parentObj=tourLoader.data relationType="flat_page" childObj=page.flat_page)}}>
                              {{t "deleteFromTour"}}
                            </UkButton>
                          </div>
                        </item.content>
                      </accordion.item>
                    </div>
                  {{else}}
                    <div><accordion.item @title="No pages added to tour">{{item.content}}</accordion.item></div>
                  {{/each}}
                </UkSortable>
              </UkAccordion>
              <div class="uk-section"></div>
            </div>
          </OtbCrud::FormSection>
        </form>
      </div>
      <div class="otb-crud-footer uk-padding-margin">
        <div class="uk-padding">
          <OtbCrud::SubmitButtons @class="uk-width-1-1" @save={{perform saveTour tourLoader.data}} />
          <PreviewButton @model=tourLoader.data></PreviewButton>
        </div>
      </div>
    </div>

    <div id="task-running" class="uk-flex-top">
      <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <p class="uk-text-{{taskMessage.type}} uk-text-large">
          {{taskMessage.message}}
        </p>
      </div>
    </div>
  {{/if}}
</DataLoader>