<div uk-grid class="uk-child-width-auto">
  <div>
    <UkButton @color="primary" @size="large" @on-click={{perform createTour}}>
      New Tour
    </UkButton>
  </div>
  <div>
    {{!-- TODO: READD
    <UkModal @modalName="tour-authors" as |modal|>
      <modal.open @class="">
        Manage Site Admins
      </modal.open>
      <modal.dialog>
        <modal.body>
          <DataLoader @queryType="search" @modelName="user" as |userLoader|>
            {{#if (lte userLoader.data.length 1)}}
              <p>Loading Users...</p>
            {{else}}
              <h3 class="uk-heading">Manage Site Admins</h3>
              <div class="uk-margin uk-grid-small uk-child-width-1-1 uk-grid">
                {{#each userLoader.data as |user|}}
                  {{#unless user.super}}
                    <div>
                      <Input @id={{concat "user" user.id}} @type="checkbox" @name="tour_set" @change={{perform this.crudActions.toggleHasMany (hash relationType="admins" parentObj=this.model childObj=user)}} @checked={{user.currentTenantAdmin}} />
                      <label for={{tourSet.subdir}}>{{if user.display_name user.display_name user.login.identification}}</label>
                    </div>
                  {{/unless}}
                {{/each}}
              </div>
            {{/if}}
          </DataLoader>
        </modal.body>
      </modal.dialog>
    </UkModal> --}}
  </div>
</div>

<table class="uk-table uk-table-striped uk-table uk-table-middle">
  <thead>
    <tr>
      <th>Tour</th>
      <th class="uk-table-shrink uk-text-center">
        <OtbTooltip @tooltipContent="Until published the site can only be viewed when logged into OpenTour." @ariaDescribedBy="tour-published-aria-describedby">
          Published
        </OtbTooltip>
      </th>
      <th class="uk-table-shrink uk-text-center">Delete</th>
    </tr>
  </thead>
  <tbody>

    {{#each model as |tour|}}

      <tr>
        <td>
          <LinkTo @route="admin.tours.edit" @model={{tour.id}}>{{tour.title}}</LinkTo>
        </td>
        <td>
          <UkButton @color="link" @on-click={{action "togglePublish" tour}} @class="uk-align-center">
            {{fa-icon (if tour.published "check" "times") aria-hidden="true"}}
            <span class="sr-only">{{if tour.published "Click to publish" "Click to un-publish"}}</span>
          </UkButton>
        </td>
        <td>
          <UkButton @color="link" @on-click={{action "deleteTour" tour}} @class="uk-align-center">
            {{fa-icon "trash" aria-hidden="true"}}
            <span class="sr-only">Delete {{tour.title}}</span>
          </UkButton>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="uk-section"></div>