{{#if this.transitioning}}
  <FaIcon @icon="spinner" @spin={{true}} /> Loading
{{else}}
<div uk-grid class="uk-child-width-1-1">
  <section class="uk-margin-small uk-child-width-auto" uk-grid>
    <div>
      <UkButton @color="primary" @size="large" @on-click={{perform this.createTour}}>
        New Tour
      </UkButton>
    </div>
    <div>
      {{#if this.currentUser.user.currentTenantAdmin}}
          <div>
            <UkButton @color="secondary" @size="large" {{on "click" (toggle "visible" this)}}>
              {{t "manageAdmins"}}
            </UkButton>
          </div>
        {{/if}}
    </div>
  </section>

  <section class="uk-margin-small">
    <FileUpload
      @name="tour-set-logo"
      @for="tour-set-logo"
      @accept="image/*"
      @multiple={{false}}
      @onfileadd={{perform this.upload }}
    >
      <a tabindex="0">
        <OtbTooltip @tooltipContent={{t "tooltip.siteIcon"}} @ariaDescribedBy="tour-site-icon">
          <FaIcon @icon="upload" /> {{if this.tenant.tenantModel.logoUrl "Update " "Upload "}} Site Logo
        </OtbTooltip>
      </a>
    </FileUpload>
  </section>

  {{#if this.tenant.tenantModel.logoUrl}}
    <section class="uk-margin-small">
      <UkButton @color="link" {{on "click" (perform this.removeSiteIcon)}}><FaIcon @icon="trash" /> Remove Site Logo</UkButton>
    </section>
    <section class="uk-margin-small">
      <figure>
        <img src={{this.tenant.tenantModel.logoUrl}} alt={{concat "Logo for " this.tenant.tenantModel.name}} />
        <figcaption>Logo for {{this.tenant.tenantModel.name}}</figcaption>
      </figure>
    </section>
  {{/if}}



</div>

<table class="uk-table uk-table-striped uk-table uk-table-middle">
  <thead>
    <tr>
      <th>Tour</th>
      <th class="uk-table-shrink uk-text-center">
        <OtbTooltip @tooltipContent="Until published the site can only be viewed when logged into OpenTour." @ariaDescribedBy="tour-published-aria-describedby">
          Published
        </OtbTooltip>
      </th>
      <th class="uk-table-shrink uk-text-center">Delete</th>
    </tr>
  </thead>
  <tbody>

    {{#each this.model.tour as |tour|}}

      <tr>
        <td>
          <LinkTo @route="admin.tours.edit" @model={{tour.id}}>{{tour.title}}</LinkTo>
        </td>
        <td>
          <UkButton @color="link" @on-click={{action "togglePublish" tour}} @class="uk-align-center">
            <FaIcon @icon={{if tour.published "check" "times"}} />
            <span class="sr-only">{{if tour.published "Click to publish" "Click to un-publish"}}</span>
          </UkButton>
        </td>
        <td>
          <UkButton @color="link" @on-click={{action "deleteTour" tour}} @class="uk-align-center">
            <FaIcon @icon="trash" />
            <span class="sr-only">Delete {{tour.title}}</span>
          </UkButton>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="uk-section"></div>
<UkModal @visible={{this.visible}} @stacked={{true}} as |modal|>
  <modal.header class="uk-modal-header">
    <h3 class="uk-modal-title">{{t "manageAdmins"}}</h3>
  </modal.header>
  <div class="uk-modal-body" uk-overflow-auto>
    {{#each (sort-by "displayName" "email" this.model.users) as |user|}}
      {{#unless user.super}}
        <div class="uk-margin">
          <Input
            id={{concat "user" user.id}}
            class="uk-checkbox"
            @type="checkbox"
            @name="tour_set"
            @checked={{includes user.tourSets this.tenant.tenantModel}}
            {{ on "change"
              (
                pipe
              (
                action (mut this.visible) true
              )
              (
                perform this.crudActions.toggleHasMany (hash parentObj=user relationType="tourSet" childObj=this.tenant.tenantModel checked=(includes user.tourSets this.tenant.tenantModel))
              )
              (
                action (mut this.visible) true
              )
            )
            }}
          />
          <label for={{concat "user" user.id}}>{{if user.displayName user.displayName user.email}}</label>
        </div>
      {{/unless}}
    {{/each}}
  </div>
</UkModal>
{{/if}}