{{#otb-crud/form-section label=(concat modelTitle " Title") as |inputId|}}
  {{input class="uk-input" id=inputId value=model.title}}
{{/otb-crud/form-section}}

{{#if (eq modelTitle "Tour")}}
  {{#otb-crud/form-section label=(concat modelTitle "Published?") as |inputId|}}
    {{#otb-tooltip tooltipContent=(t "tooltip.published")}}
      <input
        type="checkbox"
        id={{inputId}}
        name={{model.published}}
        checked={{model.published}}
      >
    {{/otb-tooltip}}
  {{/otb-crud/form-section}}
{{/if}}

{{#otb-crud/form-section label=(concat modelTitle " Description")}}
  {{ember-jodit
    value=(if model.description model.description "")
    model=model
    modelAttr = "description"
    onChange=(action (mut model.description))
  }}
{{/otb-crud/form-section}}

{{#otb-crud/form-section
  label=(concat modelTitle " Meta Description")
as |inputId|
}}
  <span
    role="tooltip"
    tabindex="0"
    uk-tooltip={{concat "title: " (t "tooltip.metaDescription")}}
    aria-describedby={{concat inputId "-aria-describedby"}}
  >
    {{fa-icon "question-circle"}}
  </span>
  <span class="otb-aria-describedby" id={{concat inputId "-aria-describedby"}}>{{t "tooltip.metaDescription"}}</span>

  {{textarea id=inputId rows=6 class="uk-textarea" value=model.meta_description}}
{{/otb-crud/form-section}}