<OtbCrud::FormSection @label={{concat modelTitle " Title"}} as |inputId|>
  <Input class="uk-input" @id={{inputId}} @value={{model.title}} />
</OtbCrud::FormSection>

{{#if (eq modelTitle "Tour")}}
  <OtbCrud::FormSection @label={{concat modelTitle "Published?"}} as |inputId|>
    <OtbTooltip @tooltipContent={{t "tooltip.published"}}>
      <input
        type="checkbox"
        id={{inputId}}
        name={{model.published}}
        checked={{model.published}}
      >
    </OtbTooltip>
  </OtbCrud::FormSection>
{{/if}}

<OtbCrud::FormSection @label={{concat modelTitle " Description"}}>
  <EmberJodit @value={{if model.description model.description ""}} @model={{model}} @modelAttr="description" @onChange={{action (mut model.description)}} />
</OtbCrud::FormSection>

<OtbCrud::FormSection @label={{concat modelTitle " Meta Description"}} as |inputId|>
  <span
    role="tooltip"
    tabindex="0"
    uk-tooltip={{concat "title: " (t "tooltip.metaDescription")}}
    aria-describedby={{concat inputId "-aria-describedby"}}
  >
    {{fa-icon "question-circle"}}
  </span>
  <span class="otb-aria-describedby" id={{concat inputId "-aria-describedby"}}>{{t "tooltip.metaDescription"}}</span>

  <Textarea @id={{inputId}} @rows={{6}} class="uk-textarea" @value={{model.meta_description}} />
</OtbCrud::FormSection>