<div class="uk-grid-match uk-grid-medium uk-child-width-expand@s" uk-grid>
  <div class="uk-width-1-3@m uk-width-1-1@s uk-margin-bottom">

    <OtbCrud::FormSection @label="Stop Address" as |inputId|>
      <label class="uk-form-label" for={{concat inputId "-stop-address"}}>
        <OtbTooltip @tooltipContent={{t "tooltip.location"}} @ariaDescribedBy={{concat inputId "-aria-describedby"}}>
            {{t "stop"}} {{t "address"}}
        </OtbTooltip>
      </label>
      <section class="uk-width-1-1">
        <Input class="uk-input uk-margin-bottom" @id={{concat inputId "-stop-address"}} @value={{this.model.address}} />
      </section>
      <UkButton @size="small" @color="secondary" @on-click={{fn this.locateAddress model=this.model}}>
        <FaIcon @icon="location-arrow" /> {{t "locate"}} {{t "address"}}
      </UkButton>
    </OtbCrud::FormSection>

    <OtbCrud::FormSection @label="Latitude" as |inputId|>
      <label class="uk-form-label" for={{concat inputId "-stop-lat"}}>
        {{t "latitude"}}
      </label>
      <section class="uk-width-1-1">
        <Input class="uk-input" @type="number" @step="any" @id={{concat inputId "-stop-lat"}} @value={{this.model.lat}} />
      </section>
    </OtbCrud::FormSection>

    <OtbCrud::FormSection @label="Longitude" as |inputId|>
      <label class="uk-form-label" for={{concat inputId "-stop-lng"}}>
        {{t "longitude"}}
      </label>
      <section class="uk-width-1-1">
        <Input class="uk-input" @type="number" @step="any" @id={{concat inputId "-stop-lng"}} @value={{this.model.lng}} />
      </section>
    </OtbCrud::FormSection>

    <button type="button" class="uk-button uk-button-small" uk-toggle target=".parking-location">
      {{t "add"}} {{t "parking"}}
    </button>
    <div class="parking-location" hidden>
      <OtbCrud::FormSection @label="Parking Address" as |inputId|>
        <label class="uk-form-label" for={{concat inputId "-parking-address"}}>
          <OtbTooltip @tooltipContent={{t "tooltip.parking"}} @ariaDescribedBy={{concat inputId "-aria-describedby"}}>
              {{t "parking"}} {{t "address"}}
          </OtbTooltip>
        </label>
        <section class="uk-width-1-1">
          <Input class="uk-input uk-margin-bottom" @id={{concat inputId "-parking-address"}} @value={{this.parkingAddress}} />
          <UkButton @size="small" @color="secondary" @on-click={{fn this.locateAddress this.parkingAddress this.model.parking_lat this.model.parking_lng}}>
            <FaIcon @icon="location-arrow" /> {{t "locate"}} {{t "address"}}
          </UkButton>
        </section>
      </OtbCrud::FormSection>

      <OtbCrud::FormSection @label="Latitude" as |inputId|>
        <label class="uk-form-label" for={{concat inputId "-parking-lat"}}>
          {{t "latitude"}}
        </label>
        <section class="uk-width-1-1">
          <Input @type="number" class="uk-input" @step="any" @id={{concat inputId "-parking-lat"}} @value={{this.model.parking_lat}} />
        </section>
      </OtbCrud::FormSection>

      <OtbCrud::FormSection @label="Longitude" as |inputId|>
        <label class="uk-form-label" for={{concat inputId "-parking-lng"}}>
          {{t "longitude"}}
        </label>
        <section class="uk-width-1-1">
          <Input @type="number" class="uk-input" @step="any" @id={{concat inputId "-parking-lng"}} @value={{this.model.parking_lng}} />
        </section>
      </OtbCrud::FormSection>
    </div>
  </div>

  <div class="uk-width-2-3@m uk-width-1-1@s">
  {{#if (and this.this.model.lat this.this.model.lng)}}
    {{#if (and this.model.parking_lat this.model.parking_lng)}}
      <GMap @options={{hash zoom="16" mapTypeId=this.model.map_type}} @lat={{this.model.lat}} @lng={{this.model.lng}} as |feature|>
        <feature.marker @draggable={{true}} @onDrag={{fn this.reLocate}} @lat={{this.model.lat}} @lng={{this.model.lng}} />
        <feature.marker @icon={{this.parkingIcon}} @draggable={{true}} @onDrag={{fn this.reLocateParking}} @lat={{this.model.parking_lat}} @lng={{this.model.parking_lng}} />
      </GMap>
    {{else}}
      <GMap @options={{hash zoom=18 mapTypeId=this.model.map_type}} @lat={{this.model.lat}} @lng={{this.model.lng}} as |feature|>
        <feature.marker @draggable={{true}} @onDrag={{fn this.reLocate}} @lat={{this.model.lat}} @lng={{this.model.lng}} />
      </GMap>
    {{/if}}
  {{/if}}
  </div>
  <div class="uk-width-1-1">
    <OtbCrud::FormSection @label="Direction Notes" as |inputId|>
      <label class="uk-form-label" for={{concat inputId "-direction-notes"}}>
        <OtbTooltip @tooltipContent={{t "tooltip.directionNotes"}} @ariaDescribedBy={{concat inputId "-aria-describedby"}}>
            {{t "direction"}} {{t "notes"}}
        </OtbTooltip>
      </label>
      <EmberJodit @value={{if this.model.direction_notes this.model.direction_notes ""}} @onChange={{fn (mut this.model.direction_notes)}} />
    </OtbCrud::FormSection>
  </div>
</div>
