<OtbCrud::FormSection @label="images">
  <label class="uk-form-label">
    <OtbTooltip @tooltipContent={{t "tooltip.reorderImages"}} @ariaDescribedBy={{concat inputId "-aria-describedby"}}>
      Images
    </OtbTooltip>
  </label>
</OtbCrud::FormSection>
<section class="uk-form-control">
  <FileDropzone @class="js-upload uk-placeholder uk-text-center uk-text-large uk-inline" @name={{concat "upload-" modelName "-" model.id}} as |dropzone queue|>
    {{#if dropzone.active}}
      {{#if dropzone.valid}}
        {{t "dropToUpload"}}
      {{else}}
        {{t "invalid"}}
      {{/if}}
    {{else}}
      <p class="uk-text-middle">
        {{#if dropzone.supported}}
          {{t "tooltip.dragAndDrop"}}
        {{/if}}
        {{!-- Queue is not really needed here --}}
        {{!-- Included to suppress warning --}}
        <FileUpload @name={{concat "upload-" modelName "-" model.id}} @for={{concat "upload-" modelName "-" model.id}} @accept="image/*" @multiple={{true}} @onfileadd={{action "upload" model}} @queue={{queue}}>
          <a id={{concat "upload-" modelName "-" model.id}} tabindex="0">
            {{t "uploadImage"}}
          </a>
        </FileUpload>
      </p>
    {{/if}}
  </FileDropzone>
</section>