<section>
  {{t "mediaCount"}}: {{model.sortedMedia.length}}
</section>
<UkSortable
  @on-added={{action "addExisting" model}}
  @on-stop={{perform reorder}}
  @group="media"
  @tagName="ul"
  @class="uk-grid uk-grid-small uk-child-width-auto uk-text-center"
>
  {{#each model.sortedMedia as |modelMedium|}}
    <li
      class="uk-tile uk-inline-clip uk-transition-toggle"
      tabindex="0"
      data-id={{modelMedium.id}}
      data-model={{modelMedium.constructor.modelName}}
    >
      {{#if modelMedium.medium.mobile}}
        {{!-- {{uk-img medium=medium class="uk-transition-toggle"  alt=(concat "Image: " modelMedium.medium.caption) dataSrc=(concat modelMedium.medium.baseUrl modelMedium.medium.mobile)}} --}}
        <img src={{concat modelMedium.medium.baseUrl modelMedium.medium.mobile}}
          alt={{concat "Image: " modelMedium.medium.caption}} class="uk-tile uk-inline-clip uk-transition-toggle">
        {{#if modelMedium.medium.video}}
          <div class="uk-position-center uk-panel otb-playbutton-overlay">
            {{fa-icon "play-circle"}}
          </div>
        {{/if}}
      {{else}}
        {{t "loading.loading"}}
      {{/if}}
      {{!-- Overlay with edit and delete buttons. --}}
      <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
        {{!-- Edit button and modal --}}
        <UkModal @modalName={{concat "edit-" model.slug modelMedium.id}}
          @on-show={{toggle "loadEmbed" modelMedium.medium}} as |modal|>
          <modal.open @class="otb-media-button uk-button uk-button-primary" @tagName="button" @modal={{modal}}>
            {{fa-icon "pencil"}} {{t "buttons.edit"}}
          </modal.open>
          <modal.dialog>
            <modal.body>
              <section class="uk-section uk-text-center">
                {{#if modelMedium.medium.video}}
                  {{#if modelMedium.medium.loadEmbed}}
                    {{modelMedium.medium.safeEmbed}}
                  {{/if}}
                {{else}}
                  <UkImg @dataSrc={{concat modelMedium.medium.baseUrl modelMedium.medium.tablet}}
                    @alt={{concat "Picture of " modelMedium.medium.title ". " modelMedium.medium.caption}} />
                {{/if}}
              </section>
              <OtbCrud::FormSection @label="Medium Title" as |inputId|>
                <Input class="uk-input" @id={{inputId}} placeholder="Medium title..."
                  @value={{modelMedium.medium.title}} />
              </OtbCrud::FormSection>
              <OtbCrud::FormSection @label="Caption" as |inputId|>
                <Textarea class="uk-input" @id={{inputId}} @value={{modelMedium.medium.caption}} />
                </OtbCrud::FormSection>
            </modal.body>
            <modal.footer>
              <UkButton @class="uk-modal-close" @on-click={{perform save modelMedium.medium}} @color="primary">
                {{t "buttons.save"}}
              </UkButton>
              <UkButton @color="link" @class="uk-modal-close uk-margin">
                {{t "buttons.cancel"}}
              </UkButton>
            </modal.footer>
          </modal.dialog>
        </UkModal>
        {{!-- Delete button --}}
        <UkButton @color="secondary" @on-click={{perform delete (hash parentObj=model childObj=modelMedium.medium relationType="media")}}>
          {{fa-icon "trash"}} {{t "buttons.delete"}}
        </UkButton>
      </div>
    </li>
  {{else}}
    <li class="uk-text-center uk-text-large uk-width-1-1 uk-padding">
      You have not added any images or videos.
      <hr>
    </li>
  {{/each}}
</UkSortable>